 // Footer

 .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    align-items: center;
    padding: 10px 20px;
    background: #333;
    color: white;
    font-size: 14px;
  }
   
  .links {
    display: flex;
    gap: 15px;
  }
   
  a {
    color: #90caf9;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
   
  a:hover {
    color: #64b5f6;
  }


  // header

  .toolbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
   
  .app-title {
    font-size: 20px;
    font-weight: bold;
  }
   
  .spacer {
    flex: 1;
  }
   