<mat-progress-bar *ngIf="progressBar.isSearchInProgress" mode="indeterminate"></mat-progress-bar>
<mat-toolbar color="accent" class="toolbar">
    <span class="app-title">User Management</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onReload()" matTooltip="Reload Data">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  
<router-outlet></router-outlet>

<footer class="footer">
    <span>© 2025 User Management App</span>
    <div class="links">
      <a href="https://www.linkedin.com/in/ashwesh-alone-a86bb42a6/" target="_blank">
        <mat-icon>language</mat-icon> LinkedIn
      </a>
      <a href="https://github.com/Ashwesh09/user-management-app" target="_blank">
        <mat-icon>code</mat-icon> GitHub
      </a>
    </div>
  </footer>